[submodule "COSMA"]
	path = external/COSMA
	url = https://github.com/dbsanfte/COSMA.git
[submodule "llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "external/OpenBLAS"]
	path = external/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
